<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Administrador - Taskfy</title>
  <link rel="icon" href="/images/minilogo.png" type="image/png">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h2>Area do Administrador</h2>
  <form action="/admin/login" method="POST">
    <img src="/images/logo.png" width="45%" style="margin-top: 4vh;">
    <input type="email" name="email" placeholder="   Email" required>
    <input type="password" name="senha" placeholder="   Senha" required>
    <button type="submit">Entrar</button>
    <a href="/"><p>Voltar ao login de usuário</p></a>
  </form>
</body>
</html>
