<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/js/jquery.js"></script>
  <script src="/js/menu.js"></script>
  <link rel="stylesheet" href="/stylesheets/cardPadrão.css">
  <link rel="stylesheet" href="/stylesheets/groupsPage.css">
</head>

<body>
  <div style="display: flex; flex-direction: column; width: 100%;">
    <div class="group-container">
    <% grupos.forEach(grupo => { %>
      <a href="/grupo/<%= grupo.id_equipe %>" class="group-card-link">
        <div class="group-card">
          <div class="group-title"><%= grupo.nome_equipe %></div>
          <div class="group-description"><%= grupo.desc_equipe %></div>
          <div class="group-tasks">Status: <%= grupo.status_equipe %></div>
        </div>
      </a>
    <% }) %>
    <a href="/cadastrogrupo" class="card-criarGP">
      <div class="new-group-card"><ion-icon name="add-outline"></ion-icon></div>
    </a>
  </div>
  </div>
  
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script>
  initMenu('grupos');
</script>
</html>