<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/minilogo.png" type="image/png">
    <title>Taskfy Entrar</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <form action="/login" id="form" method="post">
        <img src="images/logo.png" width="45%" style="margin-top: 4vh;">
        <input type="email" id="email" name="email" placeholder="   Email">
        <input type="password" id="senha" name="senha" placeholder="   Senha">
        <button type="submit">Entrar</button>
        <a href="cadastro.html"><p>Não possui login? Cadastrar</p></a>
    </form>
</body>
</html>