<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="images/minilogo.png" type="image/png">
  </head>
  <body>
    <h1><%= nomeapp %></h1>
    <p>Bem-vinde ao <%= nomeapp %></p>
  </body>
</html>