<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taskfy Tarefa 0000</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/menu.js"></script>
    <link rel="stylesheet" href="/stylesheets/task.css" />
  </head>
  <body>
    <div class="group-container">
      <div class="main-task">
        <div class="task-header">
          <div class="header-title"><b><%= tarefa.nome_tarefa %></b></div>
          <div style="display: flex; flex-direction: row">
            <div style="width: 50%">
              <p>Status: <%= tarefa.status_tarefa %> </p>
              <p>Criado: <%= tarefa.dataCriacao %></p>
            </div>
            <div>
              <p>Colaboradores:</p>
            </div>
          </div>
        </div>
        <div class="task-messages">
          <div class="task-message">
            <div class="message-header">
              <b>FULANO</b> <span>postou 14-02-2025</span>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Assumenda, enim iste sequi quibusdam porro cupiditate veniam
              fugiat dolor nisi expedita corrupti animi voluptates incidunt a
              inventore delectus voluptas, aspernatur odit. Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Dolores at quas aliquid
              beatae repudiandae ex totam adipisci praesentium officiis dolore
              voluptatem, accusamus dolorem ducimus aliquam distinctio saepe,
              atque maxime? Hic?
            </p>
          </div>
          <div class="task-message">
            <div class="message-header">
              <b>FULANO</b> <span>postou 14-02-2025</span>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Assumenda, enim iste sequi quibusdam porro cupiditate veniam
              fugiat dolor nisi expedita corrupti animi voluptates incidunt a
              inventore delectus voluptas, aspernatur odit. Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Dolores at quas aliquid
              beatae repudiandae ex totam adipisci praesentium officiis dolore
              voluptatem, accusamus dolorem ducimus aliquam distinctio saepe,
              atque maxime? Hic?
            </p>
          </div>
          <div class="task-message">
            <div class="message-header">
              <b>FULANO</b> <span>postou 14-02-2025</span>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Assumenda, enim iste sequi quibusdam porro cupiditate veniam
              fugiat dolor nisi expedita corrupti animi voluptates incidunt a
              inventore delectus voluptas, aspernatur odit. Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Dolores at quas aliquid
              beatae repudiandae ex totam adipisci praesentium officiis dolore
              voluptatem, accusamus dolorem ducimus aliquam distinctio saepe,
              atque maxime? Hic?
            </p>
          </div>
          <div class="task-message">
            <div class="message-header">
              <b>FULANO</b> <span>postou 14-02-2025</span>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Assumenda, enim iste sequi quibusdam porro cupiditate veniam
              fugiat dolor nisi expedita corrupti animi voluptates incidunt a
              inventore delectus voluptas, aspernatur odit. Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Dolores at quas aliquid
              beatae repudiandae ex totam adipisci praesentium officiis dolore
              voluptatem, accusamus dolorem ducimus aliquam distinctio saepe,
              atque maxime? Hic?
            </p>
          </div>
          <div class="task-message">
            <div class="message-header">
              <b>FULANO</b> <span>postou 14-02-2025</span>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Assumenda, enim iste sequi quibusdam porro cupiditate veniam
              fugiat dolor nisi expedita corrupti animi voluptates incidunt a
              inventore delectus voluptas, aspernatur odit. Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Dolores at quas aliquid
              beatae repudiandae ex totam adipisci praesentium officiis dolore
              voluptatem, accusamus dolorem ducimus aliquam distinctio saepe,
              atque maxime? Hic?
            </p>
          </div>
          <div class="task-message">
            <div class="message-header">
              <b>FULANO</b> <span>postou 14-02-2025</span>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Assumenda, enim iste sequi quibusdam porro cupiditate veniam
              fugiat dolor nisi expedita corrupti animi voluptates incidunt a
              inventore delectus voluptas, aspernatur odit. Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Dolores at quas aliquid
              beatae repudiandae ex totam adipisci praesentium officiis dolore
              voluptatem, accusamus dolorem ducimus aliquam distinctio saepe,
              atque maxime? Hic?
            </p>
          </div>
          <div class="task-message">
            <div class="message-header">
              <b>FULANO</b> <span>postou 14-02-2025</span>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Assumenda, enim iste sequi quibusdam porro cupiditate veniam
              fugiat dolor nisi expedita corrupti animi voluptates incidunt a
              inventore delectus voluptas, aspernatur odit. Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Dolores at quas aliquid
              beatae repudiandae ex totam adipisci praesentium officiis dolore
              voluptatem, accusamus dolorem ducimus aliquam distinctio saepe,
              atque maxime? Hic?
            </p>
          </div>
        </div>
        <form action="" method="" class="send-message">
          <div>
            <input type="text" class="main-text" name="main-text" />
          </div>
          <div>
            <input type="file" name="task-mes-anexo" />
            <select name="task-init-stat">
              <option value="Aberta">Aberta</option>
              <option value="Em andamento">Em andamento</option>
              <option value="Fechada">Fechada</option>
            </select>
            <input type="button" value="Recomeçar Formulario" id="reset-form" />
            <input type="submit" />
          </div>
        </form>
      </div>
      <div class="side-chat">
        <div class="chat-title">
          <b>Chat</b>
        </div>
        <div class="chat-messages">
          <div class="chat-message">
            <div style="width: 95%">
              <b>Fulano: </b>Lorem, ipsum dolor sit amet consectetur adipisicing
              elit. Soluta ab, ipsam repellat et aliquam magnam modi temporibus
              odit illum numquam suscipit deserunt? Pariatur quam provident
              aliquid, sequi corporis nihil consectetur. - 14-02-2025 19:00
            </div>
          </div>
          <div class="chat-message">
            <div style="width: 98%">
              <b>Fulano: </b>Lorem, ipsum dolor sit amet consectetur adipisicing
              elit. Soluta ab, ipsam repellat et aliquam magnam modi temporibus
              odit illum numquam suscipit deserunt? Pariatur quam provident
              aliquid, sequi corporis nihil consectetur. - 14-02-2025 19:00
            </div>
          </div>
          <div class="chat-message">
            <div style="width: 98%">
              <b>Fulano: </b>Lorem, ipsum dolor sit amet consectetur adipisicing
              elit. Soluta ab, ipsam repellat et aliquam magnam modi temporibus
              odit illum numquam suscipit deserunt? Pariatur quam provident
              aliquid, sequi corporis nihil consectetur. - 14-02-2025 19:00
            </div>
          </div>
          <div class="chat-message">
            <div style="width: 98%">
              <b>Fulano: </b>Lorem, ipsum dolor sit amet consectetur adipisicing
              elit. Soluta ab, ipsam repellat et aliquam magnam modi temporibus
              odit illum numquam suscipit deserunt? Pariatur quam provident
              aliquid, sequi corporis nihil consectetur. - 14-02-2025 19:00
            </div>
          </div>
          <div class="chat-message">
            <div style="width: 98%">
              <b>Fulano: </b>Lorem, ipsum dolor sit amet consectetur adipisicing
              elit. Soluta ab, ipsam repellat et aliquam magnam modi temporibus
              odit illum numquam suscipit deserunt? Pariatur quam provident
              aliquid, sequi corporis nihil consectetur. - 14-02-2025 19:00
            </div>
          </div><div class="chat-message">
            <div style="width: 98%">
              <b>Fulano: </b>Lorem, ipsum dolor sit amet consectetur adipisicing
              elit. Soluta ab, ipsam repellat et aliquam magnam modi temporibus
              odit illum numquam suscipit deserunt? Pariatur quam provident
              aliquid, sequi corporis nihil consectetur. - 14-02-2025 19:00
            </div>
          </div>
          <div class="chat-message">
            <div style="width: 98%">
              <b>Fulano: </b>Lorem, ipsum dolor sit amet consectetur adipisicing
              elit. Soluta ab, ipsam repellat et aliquam magnam modi temporibus
              odit illum numquam suscipit deserunt? Pariatur quam provident
              aliquid, sequi corporis nihil consectetur. - 14-02-2025 19:00
            </div>
          </div>
          <div class="chat-message">
            <div style="width: 98%">
              <b>Fulano: </b>Lorem, ipsum dolor sit amet consectetur adipisicing
              elit. Soluta ab, ipsam repellat et aliquam magnam modi temporibus
              odit illum numquam suscipit deserunt? Pariatur quam provident
              aliquid, sequi corporis nihil consectetur. - 14-02-2025 19:00
            </div>
          </div>
        </div>
        <form action="" method="" class="chat-send-messages">
          <input type="text" />
          <button type="submit">-></button>
        </form>
      </div>
    </div>
  </body>
  <script>
    initMenu("tarefas");
  </script>
</html>
