@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f0f6ff;
  font-family: Arial, sans-serif;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: contents;
}

.card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card-header {
  background-color: #2196f3;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 12px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

.star {
  color: #2196f3;
  font-size: 18px;
}

.card-description {
  font-size: 14px;
  color: #333;
  margin-bottom: 12px;
}

.card-creator {
  font-size: 12px;
  color: #666;
}

.card-criarGP {
    text-decoration: none;
    color: inherit;
    display: contents;
}

.new-group-card{
    width: 250px;
    background-color: #2196f3;
    color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    margin: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 1000;
}

.new-group-card:hover{
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;   
}